    <footer class="navbar bg-dark fixed-bottom">
        <div class="container d-flex justify-content-center">
            <span class="text-muted footertxt">&#169;Surf Weasel      "weaseling since" 2021</span>
        </div>
    </footer>
