<main>
        <img src="/public/assets/images/ncbeach.jpg" class="image" />
        <!-- This will be a separate handlebars file (start) -->
        <div id="like_button_container" </div>
                <!--    //institute react -->
                <!-- This will be a separate handlebars file (end) -->
</main>
<!-- sticky footer -->
