{{!-- google maps api script tag is async and the script.js script tag depends on it loading first to run so it is deferred  --}}
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXn93WsnSypxsm5kEisCHg_K8ZyNeVf4U&libraries=places&callback=initMap" type="text/javascript"></script>
<script defer src="/assets/js/script.js"></script>

<navbar class="nav">
  <div class="container-fluid justify-content-center">
    <div class="row">
      {{!-- <div class="col">
        <button type="button" class="btn btn-primary mt-1"><a href="/dashboard">Home</a></button>
      </div> --}}
      <div class="col">
        <div class="row ml-1">
          <h5 class="ml-1 mt-2 mr-2 navtext">Search for your Beach:</h5>
          <form class="form-inline pl-3 pr-2">
              <input id="searchText" name="fav_beach" class="form-control w-50 mr-2" type="text" placeholder="Search" aria-label="Search">
              <button id="search" class="btn btn-primary" type="submit">Search</button>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="saveFavBeach">
                <label class="form-check-label" for="inlineCheckbox1">Save As favorite beach</label>
              </div>
          </form>
        </div>

      </div>
      <div class="col ml-5">
        <div class="row ml-5">
        {{#if isloggedin}}
          <h5 class="ml-5 mt-2 mr-2 navtext">You are logged in as {{user.name}}</h5>
          <a href="/logout"> <button type="btn" class="btn btn-primary ml-1 dashLogin">Logout</button></a>
        {{else}}
          <h5 class="ml-5 mt-2 navtext">You need to login to access full features.</h5> 
          <button type="button" class="btn btn-primary ml-2 dashLogin"><a href="/login">Login</a></button> 
          {{/if}}
        </div>
      </div>
    </div>  
  </div>
</navbar>

<div class="container-fluid">
  <div class="row min-vh-100">
    {{!-- sidebar --}}
      <aside class="col-sm-2 side-bar">
        <h5 class="mt-4 mb-3">Favorite Beach:</h5>        
        <div id="favBeach">
          {{!-- append favorite beach of user here (after login) --}}
        </div>
        <h5 class="mt-1">Previous Searches:</h5>
        <button id="clear" class="btn btn-sm btn-links">Clear Search History</button>  
        <div id="beachHistory">
          {{!-- append beach search istory here --}}
        </div>          
      </aside>
      {{!-- dashboard --}}
      <article id="displayInfo" class="col">
        <div id="main-container" class="dash">
          <div class="jumbotron text-center header-wrap" align="center">            
            <div>
              {{#if isloggedin}}
                <p class="lead">Welcome {{user.name}}</p>
              {{else}}
                <h3 class="lead">Welcome To Surfweasel</h3>
          
              {{/if}}
            </div>          
          <div id="cityName"></div>

          <div id="city-storage"></div>

          {{!-- <h2>Current Conditions:</h2>   --}}

          <div class ="row" id="current-condtions"></div>

          <div id="main" class="well">

            <div class="row">

              <div class="col-sm-6">
                <h2>Weather Information</h2>
                <ul id="weather"></ul>
              </div>

              <div class="col-sm-6">
                <h2>Tide Information</h2>                
                <ul id="tide"></ul>                
              </div>

            </div>

            <div class="row">
              <div class="col-sm-6">
                <h2>Marine Information</h2>                
                <ul id="marine"></ul>                
              </div>

              <div class="col-sm-6">
                <h2>Astronomy Information</h2>                
                <ul id="astronomy"></ul>                
              </div>
            </div>

          </div>

          <div id="map" style="visibility:hidden;"></div>

              <h5 id="login-err-msg"></h5>
            </div>
          </div>
        </div>
      </article>
  </div>
</div>
