{{!-- google maps api script tag is async and the script.js script tag depends on it loading first to run so it is deferred  --}}
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXn93WsnSypxsm5kEisCHg_K8ZyNeVf4U&libraries=places&callback=initMap" type="text/javascript"></script>
<script defer src="/assets/js/script.js"></script>
<div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead">Welcome to <strong>Sample App</strong></p>
    <hr class="my-4">
    <div>
      {{#if isloggedin}}
        You are logged in as {{user.name}}
        <a href="/logout"> <button type="btn" class="btn">Logout</button></a>
                <input type="text" id="searchText">
        {{!-- <button class="btn button" id="search">Search</button> --}}
        <div>
          <ul id="searchResults"></ul>
        </div>
        <div id="map"></div>
      {{else}}
        <p>You need to log in to use this app.</p>
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>

{{> modal/login-block}}
