{{!-- google maps api script tag is async and the script.js script tag depends on it loading first to run so it is deferred  --}}
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXn93WsnSypxsm5kEisCHg_K8ZyNeVf4U&libraries=places&callback=initMap" type="text/javascript"></script>
<script defer src="/assets/js/script.js"></script>

<navbar class="nav">
  <div class="container-fluid justify-content-center">
    <button type="button"
        class="btn btn-header-1 active"><a href="/dashboard">Home</a></button>
    <button type="button" class="btn btn-header-2">Surf
        Report</button>
    <button type="button"
        class="btn btn-header"><a href="/contact">Contact</a></button>
    <button type="button"
        class="btn btn-header-4"><a href="/signup">Register</a></button>
    <button type="button"
        class="btn btn-header-4"><a href="/login">Login</a></button>       
  </div>
</navbar>

<div id="main-container" class="container">
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead">Welcome to <strong>Sample App</strong></p>
    <hr class="my-4">
    <div>
      {{#if isloggedin}}
        You are logged in as {{user.name}}
        <a href="/logout"> <button type="btn" class="btn">Logout</button></a>

        
      {{else}}
        <p>You need to log in to use this app.</p>
        {{!-- <input type="text" id="searchText"> --}}

        {{!-- <button class="btn button" id="search">Search</button> --}}
        {{!-- <div>
          <ul id="searchResults"></ul>
        </div> --}}
        
        <div class="container-fluid">
        <div class="row content search">
          <div class="col-sm-3">
            <h4>Search for a City:</h4>
            <input type="text" id="searchText">
            {{!-- <input id="city-search" type="text" placeholder="Search.." name="search"> --}}
            {{!-- <button id="search"><i class="fas fa-search"></i></button> --}}

               {{!-- <button class="btn button" id="search">Search</button> --}}
        <div>
          <ul id="searchResults"></ul>
        </div>

        <div class="c
            <div id="city-storage"></div>
          </div>
         
          <br>
          
            <div class="col-sm-9">
                    <div class="row">
                    <h2>Current Conditions:</h2>
                    <div class ="row" id="current-condtions">
                        
                    </div>

                </div>
                <div id="main" class="well">
                  
                    
                </div>

                

            </div>

        </div>

    </div>
        <div id="map" style="visibility:hidden;"></div>

      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>
</div>

{{> modal/login-block}}
