{{!-- {{> nav/nav-block user=true register=false}} --}}

<div class="media mt-5">
  <div class="media-body">
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="user_password" placeholder="Password">
          </div>
          <button id="login" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <h3 id="#login-err-msg">

      </h3>
      <div class="col"></div>
    </div>
  </div>
</div>
{{!-- app.js manages user login and register data --}}
<script src="/assets/js/app.js"></script>
