<div class="media-body mt-5">
  <div class="card m-5 mr-5 ml-5">
    <div class="row m-5">
      <div class="col"></div>

      <div class="col-5">
        <p>Please enter the email address you would like to use:</p>
        <div class="input-group mb-3">
          <input id="emailLogin" type="text" class="form-control" placeholder="Email" aria-label="Email"
            aria-describedby="basic-addon1">
        </div>
        <p>What is your first name?</p>
        <div class="input-group mb-3">
          <input id="passwordLogin" type="text" class="form-control" placeholder="First Name" aria-label="First Name"
            aria-describedby="basic-addon1">
        </div>
        <p>What is your last name?</p>

        <div class="input-group mb-3">
          <input id="passwordLogin" type="text" class="form-control" placeholder="Last Name" aria-label="Last Name"
            aria-describedby="basic-addon1">
        </div>
        <p>Please enter a password for your account:</p>
        <div class="input-group mb-3">
          <input id="passwordLogin" type="text" class="form-control" placeholder="Password" aria-label="Password"
            aria-describedby="basic-addon1">
        </div>
        <p>Please re enter your password:</p>
        <div class="input-group mb-3">
          <input id="passwordLogin" type="text" class="form-control" placeholder="Password" aria-label="Password"
            aria-describedby="basic-addon1">
        </div>
        <div id="signup-button">
          <button type="submit" class="btn btn-primary">Signup!</button>
        </div>
      </div>

      <div class="col"></div>
    </div>

  </div>
</div>