body {
  color: rgb(0, 0, 0);
  background-size: cover;
  height:100%;
  background-image: url("../images/surfer.png");
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #444;
}

#map {
  height: 500px;
  width: 500px;
}

.form-control {
  border-radius: 18px 18px 18px 18px;
}

.weasy {
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  width: 100%;
}

nav {
  height: 80px;
  border-bottom: 6px solid yellow;
  overflow: visible;
}

h2 {
  font-family: "Bangers", cursive;
}

#login, p, a {
  font-family: "Bangers", cursive;
  font-size: large;
}

.navbar-brand {
  padding: 10px 200px 40px 20px;
  justify-content: center;
  font-family: "Bangers", cursive;
  color: rgb(106, 134, 158) !important;
  font-size: 50px;
  width: 33%;
}
.nav {
  /* padding: 10px 200px 40px 20px; */
  /* justify-content: center;
  font-family: "Bangers", cursive;
  color: rgb(106, 134, 158) !important;
  font-size: 50px; */
  /* width: 33%; */
}

.btn {
  color: rgb(230, 120, 120);
  
  border: none;
}

.btn:hover {
  color: white;
}

.btn-primary {
  border-radius: 18px 18px 18px 18px;
  background-color: rgb(40, 40, 43);
  padding: 4px;
  justify-content: center;
  width: 200px;
  height: auto;
}

.card {
  background-color: rgba(240, 255, 255, 0.815);
}
