body {
  color: rgb(0, 0, 0);
  background-size: cover;
  height:100%;
  background-image: url("../images/surfer.png");
  background-attachment: fixed;
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #444;
}

#main ul {
  list-style-type: none;
}

#map {
  height: 500px;
  width: 500px;
}

.form-control {
  border-radius: 18px 18px 18px 18px;
  height: 30px;
}

.weasy {
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  width: 100%;
}

nav {
  height: 80px;
  border-bottom: 2px solid yellow;
  /* overflow: visible; */
}

h2 {
  font-family: "Bangers", cursive;
}

#login, p, a {
  font-family: "Bangers", cursive;
  font-size: large;
}

.navbar-brand {
  padding: 10px 200px 40px 20px;
  justify-content: center;
  font-family: "Bangers", cursive;
  color: rgb(106, 134, 158) !important;
  font-size: 50px;
  width: 33%;
  text-shadow:
  -1px -1px 0 rgba(255, 255, 255, 0),
  1px 1px 0 rgba(0,0,0,.25),
  3px 3px 3px rgba(0,0,0,.25),
  10px 10px 20px rgba(0,0,0,.5),
  20px 40px 40px rgba(0,0,0,.5);
}
.nav {
  background-color: rgba(61, 61, 61, 0.815);
  box-shadow:
  -1px -1px 0 rgba(255, 255, 255, 0),
  1px 1px 0 rgba(0,0,0,.25),
  3px 3px 3px rgba(0,0,0,.25),
  10px 10px 20px rgba(0,0,0,.5),
  20px 40px 40px rgba(0,0,0,.5); 
}

.navtext {
  color: azure;
  font-family: fantasy;
}

.side-bar {
  background-color: rgba(240, 255, 255, 0.932);
  box-shadow:
  -1px -1px 0 rgba(255, 255, 255, 0),
  1px 1px 0 rgba(0,0,0,.25),
  3px 3px 3px rgba(0,0,0,.25),
  10px 10px 20px rgba(0,0,0,.5),
  20px 40px 40px rgba(0,0,0,.5); 
}

.btn {
  color: rgb(230, 120, 120);
  
  border: none;
}

.btn:hover {
  color: white;
}

.btn-primary {
  border-radius: 18px 18px 18px 18px;
  background-color: rgb(40, 40, 43);
  padding: 2px;
  justify-content: center;
  width: 80px;
  height: 32px;
}

.dashLogin {
  margin-top: 4px;
}

.card {
  background-color: rgba(240, 255, 255, 0.815);
  border-radius: 10px;
  box-shadow:
  -1px -1px 0 rgba(255, 255, 255, 0),
  1px 1px 0 rgba(0,0,0,.25),
  3px 3px 3px rgba(0,0,0,.25),
  10px 10px 20px rgba(0,0,0,.5),
  20px 40px 40px rgba(0,0,0,.5); 
}

.dash {
  background-color: rgba(240, 255, 255, 0.877);
  border-radius: 5px;
  /* box-shadow:
  -1px -1px 0 rgba(255, 255, 255, 0),
  1px 1px 0 rgba(0,0,0,.25),
  3px 3px 3px rgba(0,0,0,.25),
  10px 10px 20px rgba(0,0,0,.5),
  20px 40px 40px rgba(0,0,0,.5);  */
}

footer {
  border-top:yellow 1px solid;
}
