
    <!-- Login handlebars -->
    <div class="container">
    <div id="surferBackground" class="media-body mt-5">
      
      <div class="card m-5 mr-5 ml-5">
        <div class="row m-5">
          <div class="col"></div>

          <div class="col-3">
            <h2>Let's Surf!</h2>
            <br>
            <br>

            <div class="input-group mb-3">
              

              <input
                id="emailLogin"
                type="text"
                class="form-control"
                placeholder="Email"
                aria-label="email"
                aria-describedby="basic-addon1"
              />
            </div>

            <div class="input-group mb-3">
              <input
                id="passwordLogin"
                type="text"
                class="form-control"
                placeholder="Password"
                aria-label="password"
                aria-describedby="basic-addon1"
              />
            </div>
            <br>
            <div id="login-button">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </div>

          <div class="col"></div>
        </div>
      </div>
    </div>
</div>

